header div{
     background-color: #2e3a46;
     height: auto;
     
}

header img {
     width: 4%;
     padding:10px
}

.card{
               
     background-color: #2e3a46;

}

main{
     background-color: #1e2d3b;
     min-height: 86.7vh;
}











